[submodule ".config/nvim"]
	path = .config/nvim
	url = git@github.com:willothy/nvim-config
	branch = main
[submodule ".config/awesome"]
	path = .config/awesome
	url = git@github.com:willothy/awesome-config
	branch = main
[submodule ".config/zsh/antidote"]
	path = .config/zsh/antidote
	url = git@github.com:mattmc3/antidote
[submodule "vendor/neovim"]
	path = vendor/neovim
	url = git@github.com:neovim/neovim
[submodule "vendor/awesome"]
	path = vendor/awesome
	url = git@github.com:awesomeWM/awesome
