[submodule ".config/nvim"]
	path = .config/nvim
	url = git@github.com:willothy/nvim-config
	branch = main
[submodule ".config/awesome"]
	path = .config/awesome
	url = git@github.com:willothy/awesome-config
	branch = main
[submodule "vendor/neovim"]
	path = vendor/neovim
	url = git@github.com:willothy/neovim
